// extension theme
$main-blue: #4285f4;
$font-stack: 'Open Sans', sans-serif;

// custom bootstrap
$navbar-height: 70px;
$navbar-default-color: #fff;
$navbar-default-link-color: #fff;
$navbar-default-bg: $main-blue;
$font-family-sans-serif: $font-stack;
$btn-primary-bg: $main-blue;